<!DOCTYPE html>
<html lang="en">
{{> header  }}
<body>
    
{{> navbar  }}

    <div class="container-fluid"> <h2>Home page!</h2>
    <h3>HELLO! welcome to home bage!</h3>
<img src="/image/profile2.png" /> 
<h3 >CLICK HERE TO CREATE YOUR PROFILE</h3>
<div class="SEE YOUR PROFILE PROFILE">Explore!<a href="/profile">SEE YOUR PROFILE</a></div>
</div>
   
</body>
</html>